section.clientes
    .row.wow.fadeInUp.container
        .large-12.columns
            .owl-carousel.owl-theme.owl-loaded.owl-drag
                .owl-stage-outer
                    .owl-stage
                        .owl-item
                            .item
                                img(src="public/img/cliente-1.png", alt="Centro de Diabetes y Obesidad")
                        .owl-item
                            .item
                                img(src="public/img/cliente-2.png", alt="Geltao Factory")
                        .owl-item
                            .item
                                img(src="public/img/cliente-3.png", alt="Karcher")
                        .owl-item
                            .item
                                img(src="public/img/cliente-4.png", alt="Empanadas Paulistas")
                        .owl-item
                            .item
                                img(src="public/img/cliente-5.png", alt="Subway")  