.work__container--gallery#gallery
    a(data-fancybox="images" href="https://images.unsplash.com/photo-1554208725-01053174d6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60").gallery__item
        img(src="https://images.unsplash.com/photo-1554208725-01053174d6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    a(data-fancybox="images" href="https://images.unsplash.com/photo-1498876122699-432a978c1426?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60").gallery__item
        img(src="https://images.unsplash.com/photo-1498876122699-432a978c1426?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    a(data-fancybox="images" href="https://images.unsplash.com/photo-1547554272-313aa22709d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60\"").gallery__item
        img(src="https://images.unsplash.com/photo-1547554272-313aa22709d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    a(data-fancybox="images" href="https://images.unsplash.com/photo-1535743767533-756f921a6b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60").gallery__item
        img(src="https://images.unsplash.com/photo-1535743767533-756f921a6b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    a(data-fancybox="images" href="https://images.unsplash.com/photo-1495132336320-a0923a300d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60").gallery__item
        img(src="https://images.unsplash.com/photo-1495132336320-a0923a300d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    a(data-fancybox="images" href="https://images.unsplash.com/photo-1517411020229-9cbb75afed2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60").gallery__item
        img(src="https://images.unsplash.com/photo-1517411020229-9cbb75afed2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
    a(data-fancybox="images" href="https://cdn.pixabay.com/photo/2019/04/11/09/53/woman-4119288__340.jpg").gallery__item
        img(src="https://cdn.pixabay.com/photo/2019/04/11/09/53/woman-4119288__340.jpg")
    a(data-fancybox="images" href="https://cdn.pixabay.com/photo/2015/10/14/09/53/happiness-987394__340.jpg").gallery__item
        img(src="https://cdn.pixabay.com/photo/2015/10/14/09/53/happiness-987394__340.jpg")
    a(data-fancybox="images" href="https://cdn.pixabay.com/photo/2014/08/22/18/46/photographer-424620_960_720.jpg").gallery__item
        img(src="https://cdn.pixabay.com/photo/2014/08/22/18/46/photographer-424620_960_720.jpg")